
<div class="jumbotron vertical-center">
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter the FIR Id</h2>
                    <form class="form-horizontal" name="FIRSearch" ng-submit="FIRstatus.viewDetails()">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="FIRId"></label>
                            <div class="col-sm-9"> 
                              <input type="text" class="form-control" 
                              
                              name="FIRId"
                              placeholder="for eg:-L4g7Eulm-JBgr9sh2yV" 
                              ng-model="FIRstatus.FIRSearch.FIRId" 
                              required>
                              
                            </div>
                        </div>

                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                          </div>

                    </form>
                </div>
            </div>
        </div>
        

</div>