$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/components-font-awesome/fonts/";
$warning:#efbb20;
$success: #34404e;
$success2:#337ab7;
$inactive-text: #727272;
$inactive-border: #b6b6b6;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "components-font-awesome/scss/font-awesome.scss";

@import "../app/styles/topnav.scss";
@import "../app/states/home/home.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.middle-view{
  padding-bottom: 30px;
}

#footer-upper,
footer {
    background: linear-gradient(rgba(28, 50, 84, 0.90), rgba(28, 50, 84, 0.90)) repeat scroll 0 0%, rgba(0, 0, 0, 0) /*url("../images/footer-bg.jpg")*/;
    background: -webkit-linear-gradient(rgba(28, 50, 84, 0.90), rgba(28, 50, 84, 0.90)) repeat scroll 0 0%, rgba(0, 0, 0, 0) /*url("../images/footer-bg.jpg")*/;
    background-position: center top;
    background-repeat: no-repeat;
}

#footer-upper .footer-block,
#footer-upper .footer-block a,
footer {
    color: #bdbdbd;
}

#footer-upper .space {
    padding: 60px 0;
}

#footer-upper .footer-block p {
    margin-bottom: 12px;
}

#footer-upper ul.tags {
    margin-top: 6px;
    display: inline-block;
}

#footer-upper ul.social {
    margin-left: -11px;
}

#footer-upper .footer-block img {
    margin-bottom: 10px;
}

#footer-upper ul.social a {
    font-size: 16px;
    color: #bdbdbd;
}

#footer-upper a:hover {
    color: #EFBB20;
}

#footer-upper .footer-block h4 {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
}

#footer-upper .footer-block .date {
    font-size: 11px;
}

ul.news li {
    border-bottom: 1px solid #8a8989;
    padding-bottom: 5px;
}

#footer-upper ul.social li {
    width: 25px;
}

ul.news li:last-child {
    border: none;
    padding-bottom: 0;
}

ul.news li:not(:first-child) {
    padding-top: 7px;
}

ul.tags li .tag {
    border: 1px solid #8a8989;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 2px;
    padding: 2px 10px;
    text-transform: lowercase;
}

#footer-upper .footer-block {
    padding: 0 25px 6px;
}

ul.tags li {
    display: inline-block;
}

ul.tags li:hover .tag {
    background-color: #EFBB20;
    border-color: #EFBB20;
    color: #fff !important;
}

#footer-upper ul.office-hour li {
    line-height: 25px;
}

#footer-upper ul.office-hour li:first-child {
    margin-bottom: 10px;
}

#footer-upper ul.office-hour li span {
    font-weight: 800;
    margin-right: 3px;
}

footer .copy-right {
    border-top: 1px solid #8A8989;
    padding: 20px 0;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.first-step{
    padding-right:1px
}
.last-step{
    padding-left: 1px;
}
.middle-step{
    padding-left:1px;
    padding-right:1px;
}
.modal-top-text{
    font-size:16px;
}
.active-step p{
    border-bottom: solid 6px $success2;
    color: $success2;
    text-align: center;
}

.inactive-step p{
    border-bottom: solid 6px $inactive-border;
    color: $inactive-text;
    text-align: center;
}

.booking-area{
    border-right: 2px;
}

.booking-area h1{
    font-size:18px;
}

.booking-shop h1{
    font-size:18px;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}

.form-error{
    font-size:13px;
    color:$brand-danger;
}

form.ng-submitted, form.ng-dirty .ng-invalid {
  border-color: $brand-danger;
  border-width: 1px;
}

//For the ng-strap time picker and date picker
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    outline: none;
    border: 0px;
  }
  tbody button {
    padding: 6px;
  }
}

.icon-color-1{
    color: #1c3254;
}
.fa-square:hover {
    color: #EFBB20;
}

.icon-color-2{
    color: $warning;
}
.icon-color-3{
    color:#fff;
}

//-----Contact page--
#contact .contact-item .icon {
    font-size: 30px;
    height: 50px;
    width: 47px;
    justify-content: flex-start;
}

#contact .contact-item i {
    color: #f2c84a;
}

#contact .contact-block:first-child .contact-item {
    padding-left: 30px;
}

#contact .contact-block:last-child {
    padding-left: 0;
}

.contact .main-heading h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

#contact .contact-item h5 {
    color: #34404e;
    margin-top: 0;
    text-transform: capitalize;
}

#contact .contact .contact-text {
    display: table;
    padding-left: 15px;
}

#contact .contact .contact-text::before {
    border-left: 1px solid hsl(0, 0%, 20%);
    bottom: 14px;
    content: "";
    left: 0;
    position: absolute;
    top: 14px;
}

#contact .contact-item:not(:last-child) {
    margin-bottom: 45px;
}

#contact .contact-text a {
    color: #777;
}

#under h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #efbb20;
  margin-top: 0;
  font-family: Open Sans, sans-serif;
}

#under .under {
  margin-top: 130px;
}

#under p {
  color: #1c3254;
  font-size: 28px;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
}


//patrick, appliance decoration
.price {
    color:#D01833;
    display: block;
    font-size: 21px;
    font-weight: 700;
    height: 25px;
    line-height: 19px;
    margin-top: 10px;
}
.details{
    text-decoration: underline;
    color: #005CCC;

}
.top-buffer { margin-top:200px; }

//displaying the appliances
#wrapper,#top-bar{
	background: #fff;
	margin: 20px auto 20px auto;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
	padding:0px 10px;
}

.thumbnails.small {
	margin-top: 10px;
}

.product-box{
		padding-top:10px;
		padding-bottom:10px;
}
.product-box:hover{
		background-color:#f8f8f8;
}
.product-box:hover a{
		color:#333 !important;
}
//product box
.product-box{
	text-align:center;
	padding-bottom:15px;
	position: relative;
	background-color:#fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-bottom:1px solid #eee;
}
.product-box span.sale_tag {
	background: url(../images/sprites.png) no-repeat scroll 0 0 transparent;
	height: 54px;
	position: absolute;
	width: 55px;
	z-index: 100;
	top:0;
	left:0;
}
.product-box:hover{
	background-color:#FEFCFF ;
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
	box-shadow: 0px 0px 5px #ccc;
}
.product-box:hover a{
	color:darkred !important;
}
.product-box img{
	overflow:hidden;
}
.product-box a.title{
	text-transform:uppercase;
	color:#111111;
	display:inline-block;
	font-weight:bold;
	font-size:11px;
	margin:15px 0 0px 0;
}
.product-box a.category{
	color:#eb4800;
}
.product-box p.price{
	 color:#D01833;
    display: block;
    font-size: 21px;
    font-weight: 700;
    height: 25px;
    line-height: 19px;
    margin-top: 10px;
}
.btn-primary {
    background-color: #1c3254;

}

