
<div  class="container">
</br>
</br>
<div ng-show="!viewFIRstatus.FIR.hasOwnProperty('firstName')">
<div class="jumbotron">
        <h4 style="color:red">No FIR found</h4>
</div>

</div>

<div ng-show="viewFIRstatus.FIR.hasOwnProperty('firstName')">
    <h4 style="text-align:center">YOUR FIR STATUS</h4>
    <div class="table table-responsive">
    <table class="table">
    
      <tbody>
        <tr>
          <th>SUBJECT</th>
          <td>{{viewFIRstatus.FIR.subject}}</td>
        </tr>
        <tr>
          <th>LOGGED BY</th>
          <td>
            <ul>
              <li><strong>Frist name: </strong>{{viewFIRstatus.FIR.firstName}}</li>
              <li><strong>Last name: </strong>{{viewFIRstatus.FIR.lastName}}</li>
              <li><strong>Gender: </strong>{{viewFIRstatus.FIR.gender}}</li>
              <li><strong>Address: </strong>{{viewFIRstatus.FIR.address}}</li>
              <li><strong>Mobile number: </strong>{{viewFIRstatus.FIR.mobile}}</li>
              <li><strong>Aadhaar number: </strong>{{viewFIRstatus.FIR.aadhaar}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>LOGGED AT</th>
          <td>
            <li><strong>District: </strong>{{viewFIRstatus.FIR.state}}</li>
            <li><strong>Police Station: </strong>{{viewFIRstatus.FIR.policeStation}}</li>
          </td>
        </tr>
        <tr>
          <th>OCCURRENCE</th>
          <td>
            <li><strong>Date: </strong>{{viewFIRstatus.FIR.doo}}</li>
            <li><strong>Place: </strong>{{viewFIRstatus.FIR.place}}</li>
          </td>
        </tr>
        <tr>
          <th>REPORTING DATE</th>
          <td>
            <ul>
              <li>{{viewFIRstatus.FIR.dor}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>DESCRIPTION</th>
          <td>{{viewFIRstatus.FIR.description}}</td>
        </tr>
        <tr>
          <th>STATUS</th>
          <td>{{viewFIRstatus.FIR.status}}</td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <a ui-sref="complaintStatus">
        <button type="button" class="btn btn-primary">Back</button>
    </a>

</div>

  

