<div class="container">
</br>
</br>
    <h2>STATE POLICE HEADQUARTERS</h2>
</br>
</br>
<div class="col-md-6">
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>NAME OF THE POST</th>
          <th>CONTACTS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>PRL. SEC. TO HOME</td>
            <td><strong>Phone: </strong>0863-2442380</td>
        </tr>
        <tr>
            <td>2</td>
            <td>DG AND IGP A.P</td>
            <td><strong>Phone: </strong>0863-2340445</td>
        </tr>
        <tr>
            <td>3</td>
            <td>DG ACB</td>
            <td><strong>Phone: </strong>0866-2428777</td>
        </tr>
        <tr>
            <td>4</td>
            <td>CHAIRMAN, AP ROAD AND SAFETY AUTHORITY</td>
            <td><strong>Phone: </strong>0863-2340256</td>
        </tr>
        <tr>
            <td>5</td>
            <td>IGP TRAINING</td>
            <td><strong>Phone: </strong>0863-2340355</td>
        </tr>
        <tr>
            <td>6</td>
            <td>IGP Tech. Services</td>
            <td><strong>Phone: </strong>0863-2340277</td>
        </tr>
        <tr>
            <td>7</td>
            <td>IGP (P&L) & WELFARE</td>
            <td><strong>Phone: </strong>2340457</td>
        </tr>
        <tr>
            <td>8</td>
            <td>ADGP L&O</td>
            <td><strong>Phone: </strong>2340455</td>
        </tr>
        <tr>
            <td>9</td>
            <td>IGP LEGAL</td>
            <td><strong>Phone: </strong>040-23214940</td>
        </tr>
        <tr>
            <td>10</td>
            <td>IGP APSP BNS</td>
            <td><strong>Phone: </strong>0863-2340358</td>
        </tr>
        <tr>
            <td>11</td>
            <td>ADGP OPERATIONS (GHS & OCTOPUS)</td>
            <td><strong>Phone:</strong>0863-2340262</td>
        </tr>
        <tr>
            <td>12</td>
            <td>ADGP CID</td>
            <td><strong>Phone: </strong>0863-2340168</td>
        </tr>
        <tr>
            <td>13</td>
            <td>IGP HOME GUARDS</td>
            <td><strong>Phone: </strong>0863-2340271</td>
        </tr>
        <tr>
            <td>14</td>
            <td>ADGP RAILWAYS</td>
            <td><strong>Phone: </strong>0863-2340361</td>
        </tr>

      </tbody>
    </table>
    </div>
</div>
</div>





<div class="container">
</br>
</br>
    <h2>DITRICT OFFICIALS</h2>
</br>
</br>

<div class="container">
    <div class="col-md-8">
     <!-- Ananthapur -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Ananthapur" target="_self">Ananthapur<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Ananthapur" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri S.V.Rajasekhar Babu, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>08554-240105</td>
                            </tr>
                            <tr>
                                <td>Sri J.Prabhakara Rao</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>08554-240866</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>
  
        <!--Chittoor-->
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" ng-href="#Chittoor" target="_self">Chittoor<span  class="caret"></span></a>
                    </h4>
                </div>
                <div id="Chittoor" class="panel-collapse collapse">
                   
                        <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Designation</th>
                                      <th>Contact Details</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <td>Sri G. Srinivas, IPS</td>
                                        <td>Superintendent of Police</td>
                                        <td>
                                            <ul>
                                                <li><strong>Phone: </strong>08572-226760</li>
                                                <li><strong>Email: </strong>spctr@appolice.gov.in</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sri J.Prabhakara Rao</td>
                                        <td>D.I.G./I.G./Additional D.G. of Police</td>
                                        <td>
                                            <ul>
                                                <li><strong>Phone: </strong>08554-240866</li>
                                                <li><strong>Email: </strong>digatp@appolice.gov.in</li>
                                            </ul>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
        
                </div>
                  
                </div>

                     <!-- East Godavari -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#EG" target="_self">East Godavari<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="EG" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri.Vishal Gunni, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone:</strong>9440-796500</td>
                            </tr>
                            <tr>
                                <td>Sri P.V.S.Ramakrishna, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone:</strong>08812-222890 </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>
        
        <!--Guntur-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-href="#Guntur" target="_self">Guntur<span  class="caret"></span></a>
                </h4>
            </div>
            <div id="Guntur" class="panel-collapse collapse">
               
                    <div class="table-responsive">          
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Designation</th>
                                  <th>Contact Details</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>Sri Sarvashresth Tripathi, IPS</td>
                                    <td>Superintendent of Police</td>
                                    <td>
                                        <ul>
                                            <li><strong>Phone: </strong>0863-2234828 ,2233222 </li>
                                            <li><strong>Email: </strong>sp@gtr.appolice.gov.in</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sri N.Sanjay, IPS</td>
                                    <td>D.I.G./I.G./Additional D.G. of Police</td>
                                    <td>
                                        <ul>
                                            <li><strong>Phone:</strong>0863-2320250</li>
                                            
                                        </ul>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
    
            </div>
              
            </div>

              <!-- Krishna -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Krishna" target="_self">Krishna<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Krishna" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri G. Vijay Kumar, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone:</strong>08672-223666</td>
                            </tr>
                            <tr>
                                <td>Sri P.V.S.Ramakrishna, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>08812-231350  </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

                    <!-- Kurnool -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Kurnool" target="_self">Kurnool<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Kurnool" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri Ake Ravi Krishna, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>08518-225600</td>
                            </tr>
                            <tr>
                                <td>Sri G Srinivas, IPS</td>
                                <td>D.I.G</td>
                                <td><strong>Phone: </strong>08518-235777</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

         <!--Nellore -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Nellore" target="_self">Nellore<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Nellore" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri Gajarao Bhupal, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>0861-2331700</td>
                            </tr>
                            <tr>
                                <td>Sri N.Sanjay, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>0863-2320250</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

        <!-- Prakasam -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Prakasam" target="_self">Prakasam<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Prakasam" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri C.M Trivikram Varma, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>08592-232701</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>0863-2320250</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

         <!-- Srikakulam -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Srikakulam" target="_self">Srikakulam<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Srikakulam" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri J. Brahma Reddy, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>08942-222556</td>
                            </tr>
                            <tr>
                                <td>Sri Ch.Srikanth, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td>Phone: 0891–2704135</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

            <!-- Vishakhapatnam -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Vizag" target="_self">Vishakhapatnam<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Vizag" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri Rahuldev Sharma, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>0891-2551104</td>
                            </tr>
                            <tr>
                                <td>Sri Ch.Srikanth, IPS</td>
                                <td>D.I.G</td>
                                <td><strong>Phone: </strong>0891-2754535</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

         <!-- Vizianagaram -->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#Vizianagaram" target="_self">Vizianagaram<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="Vizianagaram" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri Grewal Navdeep Singh. K.S., IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone:</strong>08922-276163</td>
                            </tr>
                            <tr>
                                <td>Sri P.Umapathi, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>0891-2704135</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>

                 <!-- West Godavari-->   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" ng-href="#WG" target="_self">West Godavari<span  class="caret"></span></a>
            </h4>
        </div>
        <div id="WG" class="panel-collapse collapse">
           
                <div class="table-responsive">          
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Designation</th>
                              <th>Contact Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Sri Bhaskar Bhushan, IPS</td>
                                <td>Superintendent of Police</td>
                                <td><strong>Phone: </strong>08812-230503 </td>
                            </tr>
                            <tr>
                                <td>Sri P.V.S.Ramakrishna, IPS</td>
                                <td>D.I.G./I.G./Additional D.G. of Police</td>
                                <td><strong>Phone: </strong>08812-222890 </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>

        </div>
          
        </div>


<!-- -->
      </div>
</div>


</div>
