<div class="container">
  <div class="table table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="text-align: center"><h3>CRIME REGISTRATION FORM</h3></th>
        </tr>
      </thead>
    </table>
  </div>
  <p>
      <h4>Points to remember</h4>
      <strong>You can use this form to report a crime.</strong></br>
      <strong>All fields are Mandatory.</strong></br>
      <strong style="color:red">False complaints are subject to prosecution under IPC.</strong></br>
  </p>
  <div class="table table-bordered">
  </br>
    <form class="form-horizontal" ng-submit="crimeForm.$valid && newCrime.submitForm()" name="crimeForm" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="district">District</label>
        <div class="col-sm-9">
          <select class="form-control" id="district" name="district" ng-model="newCrime.crimeForm.state" required>
            <option value="" selected>SELECT DISTRICT</option>
            <option>ANANTAPUR</option>
            <option>CHITTOOR</option>
            <option>EAST GODAVARI</option>
            <option>GUNTUR</option>
            <option>YSR KADAPA</option>
            <option>KRISHNA</option>
            <option>KURNOOL</option>
            <option>NELLORE</option>
            <option>PRAKASAM</option>
            <option>SRIKAKULAM</option>
            <option>VISAKHAPATNAM</option>
            <option>VIZIANAGARAM</option>
            <option>WEST GODAVARI</option>   
          </select>
          <div class="form-error" ng-messages="crimeForm.district.$error" ng-if="crimeForm.district.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">District is required</div>
          </div>
        </div>
      </div> 

      <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">First Name:</label>
        <div class="col-sm-9"> 
        <input type="text" class="form-control" 
        id="firsName"
        name="firstName"
        placeholder="First Name" 
        ng-model="newCrime.crimeForm.firstName" 
        required>
          <div class="form-error" ng-messages="crimeForm.firstName.$error" ng-if="crimeForm.firstName.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">First name is required</div>
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">Last Name:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="lastName"
          name="lastName" 
          placeholder="Last Name"
          ng-model="newCrime.crimeForm.lastName"
          required>
          <div class="form-error" ng-messages="crimeForm.lastName.$error" ng-if="crimeForm.lastName.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">last name is required</div>
          </div>
        </div>
      </div>
    
        <div class="form-group">
          <label class="control-label col-sm-2" for="gender">Gender</label>
          <div class="col-sm-9">
            <select class="form-control" id="gender" name="gender" ng-model="newCrime.crimeForm.gender" required>
              <option value="" selected>SELECT GENDER</option>
              <option>MALE</option>
              <option>FEMALE</option>
            </select>
            <div class="form-error" ng-messages="crimeForm.gender.$error" ng-if="crimeForm.gender.$dirty || 
            crimeForm.$submitted">
              <div ng-message="required">Gender is required</div>
            </div>
          </div>
        </div>
                  
        <div class="form-group">
          <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" 
            id="dob"
            name="dob" 
            placeholder="Date of birth" 
            ng-model="newCrime.crimeForm.dob"
            required>
            <div class="form-error" ng-messages="crimeForm.dob.$error" ng-if="crimeForm.dob.$dirty || 
            crimeForm.$submitted">
              <div ng-message="required">Date of birth is required</div>
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <label class="control-label col-sm-2" for="address">Address:</label>
          <div class="col-sm-9"> 
            <textarea class="form-control" 
            rows="5" 
            id="address"
            name="address"
            placeholder="Address"
            ng-model="newCrime.crimeForm.address"
            required></textarea>
            <div class="form-error" ng-messages="crimeForm.address.$error" ng-if="crimeForm.address.$dirty || 
            crimeForm.$submitted">
              <div ng-message="required">Address is required</div>
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <label class="control-label col-sm-2" for="mobile">Mobile Number:</label>
          <div class="col-sm-9"> 
            <input type="number" class="form-control" 
            id="mobile"
            name="mobile" 
            placeholder="Mobile Number"
            ng-minlength="10" 
            ng-maxlength="10"
            ng-pattern="/^[7-9][0-9]{9}$/"
            ng-model="newCrime.crimeForm.mobile"
            required>
            <div class="form-error" ng-messages="crimeForm.mobile.$error" ng-if="crimeForm.mobile.$dirty || 
            crimeForm.$submitted">
              <div ng-message="required">Mobile number is required</div>
              <p ng-message="pattern">Phone number is invalid.</p>
              <div ng-message="maxlength">Mobile number should be 10 digits</div>
              <div ng-message="minlength">Mobile number should be 10 digits</div>
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <label class="control-label col-sm-2" for="aadhaar">Aadhaar Number:</label>
          <div class="col-sm-9"> 
            <input type="text" class="form-control" 
            id="aadhaar"
            name="aadhaar" 
            placeholder="Aadhaar Number"
            ng-minlength="12" 
            ng-maxlength="12"
            ng-pattern="/^[1][0-9]{11}$/"
            ng-model="newCrime.crimeForm.aadhaar"
            required>
            <div class="form-error" ng-messages="crimeForm.aadhaar.$error" ng-if="crimeForm.aadhaar.$dirty || 
            crimeForm.$submitted">
              <div ng-message="required">Aadhaar number is required</div>
              <p ng-message="pattern">Aadhaar number is invalid.</p>
              <div ng-message="maxlength">Aadhaar number should be 12 digits</div>
              <div ng-message="minlength">Aadhaar number should be 12 digits</div>
            </div>
          </div>
        </div>
      </br>
    </br>

    <h4 style="text-align: center">Details of The Crime</h4>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Subject">Subject</label>
      <div class="col-sm-9">
        <select class="form-control" id="subject" name="subject" ng-model="newCrime.crimeForm.subject" required>
          <option value="" selected>SELECT SUBJECT</option>
          <option>ATTEMPT TO COMMIT CRIME</option>
          <option>CONSPIRACY</option>
          <option>COUNTERFEIT OF CURRENCY</option>
          <option>CYBER CRIMES</option>
          <option>DACOITY</option>
          <option>EMBEZZLEMENT</option>
          <option>FORGERY</option>
          <option>HURT</option>
          <option>IMPERSONATION</option>
          <option>KIDNAPING</option>
          <option>LAND GRABBING</option>
          <option>MISAPPROPRIATION</option>
          <option>MURDER</option>
          <option>OFFENCES AGAINST STATE</option>
          <option>RAGGING</option>
          <option>RAPE</option>
          <option>ROBBERY</option>
          <option>STOLEN PROPERTY</option>
          <option>THEFT</option>
          <option>TRAFFIC VIOLATIONS</option>
          <option>WOMEN HARASSMENT</option>
          <option>WRONGFUL CONFINEMENT</option>
        </select>
        <div class="form-error" ng-messages="crimeForm.subject.$error" ng-if="crimeForm.subject.$dirty || 
        crimeForm.$submitted">
          <div ng-message="required">Subject is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="date">Date of Occurrence:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" 
          id="date"
          name="date"
          placeholder="Date of occurrence" 
          ng-model="newCrime.crimeForm.date"
          required>
          <div class="form-error" ng-messages="crimeForm.date.$error" ng-if="crimeForm.date.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">Date is required</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="place">Place of Occurrence:</label>
        <div class="col-sm-9"> 
          <textarea class="form-control" 
          rows="5" 
          id="place"
          name="place"
          placeholder="Place of occurrence"
          ng-model="newCrime.crimeForm.place"
          required></textarea>
          <div class="form-error" ng-messages="crimeForm.place.$error" ng-if="crimeForm.place.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">Place is required</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-9"> 
          <textarea class="form-control" 
          rows="5" 
          id="description"
          name="description"
          placeholder="Description"
          ng-model="newCrime.crimeForm.description"
          required></textarea>
          <div class="form-error" ng-messages="crimeForm.description.$error" ng-if="crimeForm.description.$dirty || 
          crimeForm.$submitted">
            <div ng-message="required">Description is required</div>
          </div>
        </div>
      </div> 
      
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
  </form>
  </div>

</div>