<div class="jumbotron vertical-center">
    <div class="container">
        <h4 style="color:green"><span class="glyphicon glyphicon-thumbs-up"></span> YOUR COMPLAINT HAS BEEN RECEIVED</h4>
        <h4><span class="glyphicon glyphicon-hand-down"></span> Please note down your complaint Id below <span class="glyphicon glyphicon-hand-down"></span> </h4>
        <h3 style="color:crimson"><span style="color:black">"</span>{{showId.showComplaintId}}<span style="color:black">"</span></h3>

    </div>
</div>
