
<div  class="container">
    </br>
</br>
<div ng-show="!viewStatus.complaint.hasOwnProperty('firstName')">
    <div class="jumbotron">
            <h4 style="color:red">No complaint found</h4>
    </div>
    
</div>
<br>
<br>

    <div ng-show="viewStatus.complaint.hasOwnProperty('firstName')">
        <h4 style="text-align:center">YOUR COMPLAINT STATUS</h4>
        <div class="table table-responsive">
        <table class="table">
      
          <tbody>
            <tr>
              <th>SUBJECT</th>
              <td>{{viewStatus.complaint.subject}}</td>
            </tr>

            <tr>
              <th>COMPLAINANT</th>
              <td>
                <ul>
                  <li><strong>First name: </strong>{{viewStatus.complaint.firstName}}</li>
                  <li><strong>Last  name: </strong>{{viewStatus.complaint.lastName}}</li>
                  <li><strong>Gender: </strong> {{viewStatus.complaint.gender}}</li>
                  <li><strong>Date of birth: </strong>{{viewStatus.complaint.dob}}</li>
                  <li><strong>Address: </strong>{{viewStatus.complaint.address}}</li>
                  <li><strong>Mobile number:</strong>{{viewStatus.complaint.mobile}}</li>
                  <li><strong>Aadhaar number: </strong>{{viewStatus.complaint.aadhaar}}</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>DATE OF OCCURRENCE</th>
              <td>{{viewStatus.complaint.date}}</td>
            </tr>

            <tr>
              <th>PLACE OF OCCURRENCE</th>
              <td>
                <ul>
                  <li>District: {{viewStatus.complaint.state}}</li>
                  <li>Place: {{viewStatus.complaint.place}}</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>DESCRIPTION</th>
              <td>{{viewStatus.complaint.description}}</td>
            </tr>

            <tr>
              <th>STATUS</th>
              <td>{{viewStatus.complaint.status}}</td>
            </tr>
          </tbody>
        </table>
  
        </div>
        </div>
        <a ui-sref="complaintStatus">
            <button type="button" class="btn btn-primary">Back</button>
        </a>
   
</div>
<br>
<br>
<br>
<br>
<br>
<br>

      
    
