<div class="container">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th style="text-align:center">DETAILS</th>
          </tr>
        </thead>
         <tbody>
            <tr>
              <td rowspan="17"><img  ng-src="{{detaineeDetails.personDetails.imageUrl}}" height="200" width="200"  ></td>
            </tr>
            <tr>
                <td><strong>Name, no and aliases: </strong> </td>
                <td>{{detaineeDetails.personDetails.name}}</td>
            </tr>
            <tr>
                  <td><strong>Age (on discharge): </strong> </td>
                  <td>{{detaineeDetails.personDetails.age}}</td>
              </tr>
              <tr>
                  <td><strong>Height: </strong></td>
                  <td>{{detaineeDetails.personDetails.height}}</td>
              </tr>
              <tr>
                <td><strong>Hair: </strong></td>
                <td>{{detaineeDetails.personDetails.hair}}</td>
            </tr>
            <tr>
                <td><strong>Eyes: </strong></td>
                <td>{{detaineeDetails.personDetails.eyes}}</td>
            </tr>
            <tr>
                <td><strong>Complexion: </strong></td>
                <td>{{detaineeDetails.personDetails.complexion}}</td>
            </tr>
            <tr>
                <td><strong>Where born: </strong></td>
                <td>{{detaineeDetails.personDetails.placeOfBirth}}</td>
            </tr>
            <tr>
                <td><strong>Married or single: </strong></td>
                <td>{{detaineeDetails.personDetails.maritalStatus}}</td>
            </tr>
            <tr>
                <td><strong>Trade or occupation: </strong></td>
                <td>{{detaineeDetails.personDetails.occupation}}</td>
            </tr>
            <tr>
                <td><strong>Distinguishing marks: </strong></td>
                <td>{{detaineeDetails.personDetails.distinguishingMarks}}</td>
            </tr>
            <tr>
                <td><strong>Address at time of apprehension: </strong></td>
                <td>{{detaineeDetails.personDetails.address}}</td>
            </tr>
            <tr>
                <td><strong>Place and date of conviction: </strong></td>
                <td>{{detaineeDetails.personDetails.placeDate}}</td>
            </tr>
            <tr>
                <td><strong>Offence for which convicted: </strong></td>
                <td>{{detaineeDetails.personDetails.offence}}</td>
            </tr>
            <tr>
                <td><strong>Sentence: </strong></td>
                <td>{{detaineeDetails.personDetails.sentence}}</td>
            </tr>
            <tr>
                <td><strong>Date to be liberated: </strong></td>
                <td>{{detaineeDetails.personDetails.dateOut}}</td>
            </tr>
            <tr>
                <td><strong>Station: </strong></td>
                <td>{{detaineeDetails.personDetails.station}}</td>
            </tr>
              
              
  
         </tbody>
       </table>
       <a ui-sref="detainees">
       <button type="button" class="btn btn-primary">Back</button>
       </a>
     </div>
  </div>
      
      
      
      
  