<h3 style="text-align:center;color:green">ADMINISTRATOR PANEL</h3>

<a >
    <button type="button" class="btn btn-danger center-block" ng-click="adminPanel.close()" >Logout</button>
</a>
<br>

<div  id="wrapper" class="container">

    
    <!-- COMPLAINTS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-href="#registeredComplaints" target="_self">REGISTERED COMMPLAINTS<span  class="caret"></span></a>
                </h4>
            </div>
            <div id="registeredComplaints" class="panel-collapse collapse">
      <div class="table table-responsive">
          <table class="table">
           <thead> 
               <br>
           <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>SUBJECTS</u></strong>
           <br>
           <br>
            </thead>
            <tbody>
               
                
                <ol style="list-style-type:disc" ng-repeat="complaint in adminPanel.allComplaints">
                <a href="" ng-click="adminPanel.goToComplaintDetails(complaint)">
                <li>{{complaint.subject}}</li>
              </a>
              </ol>
            </tbody>
          </table>
    
          </div>
          </div>
        </div>
        <!-- CRIMES-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" ng-href="#registeredCrimes" target="_self">REGISTERED CRIMES<span  class="caret"></span></a>
                </h4>
            </div>
            <div id="registeredCrimes" class="panel-collapse collapse">
              <div class="table table-responsive">
                <table class="table">
                  <thead> 
                  <br>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>SUBJECTS</u></strong>
                  <br>
                  <br>
                  </thead>
                  <tbody>
                    <ol style="list-style-type:disc" ng-repeat="crime in adminPanel.allCrimes">
                      <a href="" ng-click="adminPanel.goToCrimeDetails(crime)">
                            <li>{{crime.subject}}</li>
                      </a>
                    </ol>
                  </tbody>
                </table>
                      
            </div>

            </div>
            </div>
            <!-- FIR-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" ng-href="#FIR" target="_self">FIRST INFORMATION REPORTS<span  class="caret"></span></a>
                    </h4>
                </div>
                <div id="FIR" class="panel-collapse collapse">
                    <div class="table table-responsive">
                        <table class="table">
                            <thead> 
                            <br>
                              <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>SUBJECTS</u></strong>
                            <br>
                            <br>
                            </thead>
                            <tbody>
                              <ol style="list-style-type:disc" ng-repeat="FIR in adminPanel.allFIRs">
                                <a href="" ng-click="adminPanel.goToFirDetails(FIR)">
                                    <li>{{FIR.subject}}</li>
                                </a>
                              </ol>
                            </tbody>
                        </table>
                                      
                    </div>
                </div>
                </div>
      
</div>

<div  id="wrapper" class="container">

<!--Add a new most wanted person-->  
  <div class="panel panel-default">
    <div class="panel-heading">
       <h4 class="panel-title">
        <a data-toggle="collapse" ng-href="#putWanted" target="_self">ADD A NEW MOST WANTED PERSON<span  class="caret"></span></a>
       </h4>
    </div>
    <div id="putWanted" class="panel-collapse collapse">
            <div class="table table-bordered">
            </br>
            <div>
              <h4 style="text-align:center;color:blue">Please fill the form below</h4>
            </div>
            <form class="form-horizontal" ng-submit="wantedForm.$valid && adminPanel.submitWantedForm()" name="wantedForm">
                 
              <div class="form-group">
                <label class="control-label col-sm-2" for="Name">Name:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="Name"
                  name="Name"
                  placeholder="Name" 
                  ng-model="adminPanel.wantedForm.Name" 
                  required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="DOB">Date of Birth:</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" 
                  id="DOB"
                  name="DOB" 
                  placeholder="Date of birth" 
                  ng-model="adminPanel.wantedForm.DOB"
                  required>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-2" for="Nationality">Nationality:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="Nationality"
                  name="Nationality" 
                  placeholder="Nationality"
                  ng-model="adminPanel.wantedForm.Nationality"
                  required>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-2" for="Marital">Marital status</label>
                <div class="col-sm-9">
                  <select class="form-control" id="Marital" name="Marital" ng-model="adminPanel.wantedForm.Marital" required>
                    <option value="" selected>SELECT STATUS</option>                    
                    <option>SINGLE</option>
                    <option>MARRIED</option>
                    <option>DIVORCED</option>
                  </select>
                </div>
              </div>                    
          
              <div class="form-group">
                <label class="control-label col-sm-2" for="crimeNo">Crime Number:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="crimeNo"
                  name="crimeNo" 
                  ng-model="adminPanel.wantedForm.crimeNo"
                  required>
                </div>
              </div>
          
              <div class="form-group">
                <label class="control-label col-sm-2" for="sectionOfLaw">Section of law:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="sectionOfLaw"
                  name="sectionOfLaw" 
                  placeholder="Section of law"
                  ng-model="adminPanel.wantedForm.sectionOfLaw"
                  required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="policeStation">Police station:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="policeStation"
                  name="policeStation" 
                  placeholder="Police station"
                  ng-model="adminPanel.wantedForm.policeStation"
                  required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="Unit">Unit:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="Unit"
                  name="Unit" 
                  placeholder="Unit"
                  ng-model="adminPanel.wantedForm.Unit"
                  required>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="imageUrl">Picture url:</label>
                <div class="col-sm-9"> 
                  <input type="text" class="form-control" 
                  id="imageUrl"
                  name="imageUrl" 
                  placeholder="Picture url"
                  ng-model="adminPanel.wantedForm.imageUrl"
                  required>
                </div>
              </div>

              <div class="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
    </div>
  </div>


<!--Add new Detainee-->
<div class="panel panel-default">
  <div class="panel-heading">
     <h4 class="panel-title">
      <a data-toggle="collapse" ng-href="#putDetainee" target="_self">ADD A NEW  DETAINEE<span  class="caret"></span></a>
     </h4>
  </div>

  <div id="putDetainee" class="panel-collapse collapse">
          <div class="table table-bordered">
          </br>
          <div>
            <h4 style="text-align:center;color:blue">Please fill the form below</h4>
          </div>
          <form class="form-horizontal" ng-submit="detaineeForm.$valid && adminPanel.submitDetaineeForm()" name="detaineeForm">
               
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Name, no and aliases:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="name"
                name="name"
                placeholder="Name, no and aliases" 
                ng-model="adminPanel.detaineeForm.name" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="age">Age (on discharge):</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="age"
                name="age"
                placeholder="Age (on discharge)" 
                ng-model="adminPanel.detaineeForm.age" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="height">Height:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="height"
                name="height"
                placeholder="height" 
                ng-model="adminPanel.detaineeForm.height" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="hair">Hair:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="hair"
                name="hair"
                placeholder="hair" 
                ng-model="adminPanel.detaineeForm.hair" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="hair">Eyes:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="eyes"
                name="eyes"
                placeholder="eyes" 
                ng-model="adminPanel.detaineeForm.eyes" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="complexion">Complexion:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="complexion"
                name="complexion"
                placeholder="complexion" 
                ng-model="adminPanel.detaineeForm.complexion" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="placeOfBirth">Where born:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="placeOfBirth"
                name="placeOfBirth"
                placeholder="Where born" 
                ng-model="adminPanel.detaineeForm.placeOfBirth" 
                required>
              </div>
            </div>
            
            <div class="form-group">
              <label class="control-label col-sm-2" for="maritalStatus">Marital status</label>
              <div class="col-sm-9">
                <select class="form-control" id="maritalStatus" name="maritalStatus" ng-model="adminPanel.detaineeForm.maritalStatus" required>
                  <option value="" selected>SELECT STATUS</option>                    
                  <option>SINGLE</option>
                  <option>MARRIED</option>
                  <option>DIVORCED</option>
                </select>
              </div>
            </div>  
            
            <div class="form-group">
              <label class="control-label col-sm-2" for="occupation">Trade of occupation:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="occupation"
                name="occupation"
                placeholder="Trade or occupation" 
                ng-model="adminPanel.detaineeForm.occupation" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="distinguishingMarks">Distinguishing marks:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="distinguishingMarks"
                name="distinguishingMarks"
                placeholder="Distinguishing marks" 
                ng-model="adminPanel.detaineeForm.distinguishingMarks" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="address">Address at time of apprehension:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="address"
                name="address"
                placeholder="Address at time of apprehension" 
                ng-model="adminPanel.detaineeForm.address" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="placeDate">Place and date of conviction:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="placeDate"
                name="placeDate"
                placeholder="Place and date of conviction" 
                ng-model="adminPanel.detaineeForm.placeDate" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="offence">Offence for which convicted:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="offence"
                name="offence"
                placeholder="Offence for which convicted" 
                ng-model="adminPanel.detaineeForm.offence" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="sentence">Sentence:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="sentence"
                name="sentence"
                placeholder="Offence for which convicted" 
                ng-model="adminPanel.detaineeForm.sentence" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="dateOut">Date to be liberated:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="dateOut"
                name="dateOut"
                placeholder="Date to be liberated" 
                ng-model="adminPanel.detaineeForm.dateOut" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="station">Station:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="station"
                name="station"
                placeholder="Station" 
                ng-model="adminPanel.detaineeForm.station" 
                required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="imageUrl">Picture url:</label>
              <div class="col-sm-9"> 
                <input type="text" class="form-control" 
                id="imageUrl"
                name="imageUrl" 
                placeholder="Picture url"
                ng-model="adminPanel.detaineeForm.imageUrl"
                required>
              </div>
            </div>





            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
  </div>
</div>

</div>