<div  class="container">
    </br>
</br>

<br>
<br>

    <div >
        <h4 style="text-align:center">CRIME DETAILS</h4>
        <div class="table table-responsive">
        <table class="table">
      
          <tbody>
            <tr>
              <th>SUBJECT</th>
              <td>{{adminCrime.CrimeDetails.subject}}</td>
            </tr>

            <tr>
              <th>INFORMANT</th>
              <td>
                <ul>
                  <li><strong>First name: </strong>{{adminCrime.CrimeDetails.firstName}}</li>
                  <li><strong>Last  name: </strong>{{adminCrime.CrimeDetails.lastName}}</li>
                  <li><strong>Gender: </strong> {{adminCrime.CrimeDetails.gender}}</li>
                  <li><strong>Date of birth: </strong>{{adminCrime.CrimeDetails.dob}}</li>
                  <li><strong>Address: </strong>{{adminCrime.CrimeDetails.address}}</li>
                  <li><strong>Mobile number:</strong>{{adminCrime.CrimeDetails.mobile}}</li>
                  <li><strong>Aadhaar number: </strong>{{adminCrime.CrimeDetails.aadhaar}}</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>DATE OF OCCURRENCE</th>
              <td>{{adminCrime.CrimeDetails.date}}</td>
            </tr>

            <tr>
              <th>PLACE OF OCCURRENCE</th>
              <td>
                <ul>
                  <li><strong> District: </strong>{{adminCrime.CrimeDetails.state}}</li>
                  <li><strong> Place: </strong>{{adminCrime.CrimeDetails.place}}</li>
                </ul>
              </td>
            </tr>

            <tr>
              <th>DESCRIPTION</th>
              <td>{{adminCrime.CrimeDetails.description}}</td>
            </tr>

            <tr>
              <th>STATUS</th>
              <td>{{adminCrime.CrimeDetails.status}}</td>
            </tr>
          </tbody>
        </table>
  
        </div>
        </div>
        <a ui-sref="adminPanel">
            <button type="button" class="btn btn-primary">Back</button>
        </a>
        <a >
          <button type="button" class="btn btn-info pull-right" ng-click="adminCrime.forwardCrime()" >Forward crime</button>
      </a>
  
   
</div>
<br>
<br>
<br>
<br>
<br>
<br>

      
    
