<div  id="wrapper" class="container">
		<div class="table table-responsive">
				<table class="table">
				  <thead>
					<tr>
					  <th style="text-align: center"><h3>WANTED PERSONS</h3></th>
					</tr>
				  </thead>
				</table>
	<section class="main-content">
		<div class="row" >
			<div class="col-xs-3" ng-repeat="person in wanted.allWanted">
				<a href="" ng-click="wanted.goToDetails(person)">
				<div>					
							<img  ng-src="{{person.imageUrl}}" height="200" width="200"  >
							<div class="caption">
							  <a><h5>{{person.Name}}</h5></a>
							</div>
						  </br>
				</div>
			</a>
		</div>
		</div>
	</section>
</div>
</div>