<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="images/safety.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3 style="color:aqua">Road Safety</h3>
          <!--<h3>Traffic wardens</h3>
          <p>Traffic Wardens’ to help cops regulate city flow</p> -->
        </div>
      </div>

      <div class="item">
        <img src="images/NGOwithAP.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Andhra Pradesh Police</h3>
          <p>Andhra Pradesh Police Tie-up with NGO for healthcare of Police</p>
        </div>
      </div>
    
      <div class="item">
        <img src="images/Madanapalle.jpg" alt="" style="width:100%;">
        <div class="carousel-caption">
          <h3>Helmet Campain</h3>
          <p>Madanapalle police launch campaign on helmet rule</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


