<div class="container">
    <div class="jumbotron">
        <h3 style="text-align:center"> COURT AND ORDERS</h3>
        <br>
        <br>
        <P style="text-align:center"><span class="glyphicon glyphicon-hand-right"></span>
            <a href="http://hc.tap.nic.in/" target="_blank"> Click me to view updated court and orders information</a>
            
        </P>
       
    </div>
</div>