<div class="container">
    <div class="table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center"><h3>FIRST INFORMATION REPORT FORM</h3></th>
          </tr>
        </thead>
      </table>
    </div>
    <p>
      <h4>F.I.R. ON AUTHENTIC INFORMATION</h4>
      <strong>
        The information given to the Police Officer for registration of a case must be authentic. 
        It should not be gossip but should be traced to an individual who should be responsible for imparting information. 
        It may be hearsay but the person in possession of hearsay should mention the source of information and take responsibility for it. 
        An irresponsible rumour should not result in registration of F.I.R.
      </strong></br>
      <br>
      <strong>All fields are Mandatory</strong></br>
      </br>
    </p>
    <div class="table table-bordered">
    </br>
    <form class="form-horizontal" ng-submit="FIRForm.$valid && newFIR.submitForm()" name="FIRForm" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="district">District</label>
        <div class="col-sm-9">
          <select class="form-control" id="district" name="district" ng-model="newFIR.FIRForm.state" required>
            <option value="" selected>SELECT DISTRICT</option>
            <option>ANANTAPUR</option>
            <option>CHITTOOR</option>
            <option>EAST GODAVARI</option>
            <option>GUNTUR</option>
            <option>YSR KADAPA</option>
            <option>KRISHNA</option>
            <option>KURNOOL</option>
            <option>NELLORE</option>
            <option>PRAKASAM</option>
            <option>SRIKAKULAM</option>
            <option>VISAKHAPATNAM</option>
            <option>VIZIANAGARAM</option>
            <option>WEST GODAVARI</option>   
          </select>
          <div class="form-error" ng-messages="FIRForm.district.$error" ng-if="FIRForm.district.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">District is required</div>
          </div>
         </div>  
      </div>
           
      <div class="form-group">
        <label class="control-label col-sm-2" for="policeStation">Police Station:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="policeStation"
          name="policeStation"
          placeholder="Police Station" 
          ng-model="newFIR.FIRForm.policeStation" 
          required>
          <div class="form-error" ng-messages="FIRForm.policeStation.$error" ng-if="FIRForm.policeStation.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">The  police station is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="subject">Subject:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="subject"
          name="subject"
          placeholder="What is this FIR about?" 
          ng-model="newFIR.FIRForm.subject" 
          required>
          <div class="form-error" ng-messages="FIRForm.subject.$error" ng-if="FIRForm.subject.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">The subject is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="doo">Date of occurrence:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" 
          id="doo"
          name="doo" 
          placeholder="Date of occurrence" 
          ng-model="newFIR.FIRForm.doo"
          required>
          <div class="form-error" ng-messages="FIRForm.doo.$error" ng-if="FIRForm.doo.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">The date of occurrence is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="place">Place of Occurrence:</label>
        <div class="col-sm-9"> 
          <textarea class="form-control" 
          rows="5" 
          id="place"
          name="place"
          placeholder="Place of occurrence"
          ng-model="newFIR.FIRForm.place"
          required></textarea>
          <div class="form-error" ng-messages="FIRForm.place.$error" ng-if="FIRForm.place.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">The place of occurrence is required</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-9"> 
          <textarea class="form-control" 
          rows="5" 
          id="description"
          name="description"
          placeholder="Description"
          ng-model="newFIR.FIRForm.description"
          required></textarea>
          <div class="form-error" ng-messages="FIRForm.description.$error" ng-if="FIRForm.description.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">Description is required</div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="doo">Date when reported:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" 
          id="dor"
          name="dor" 
          placeholder="Date when reported" 
          ng-model="newFIR.FIRForm.dor"
          required>
          <div class="form-error" ng-messages="FIRForm.doo.$error" ng-if="FIRForm.dor.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">The date when reported is required</div>
          </div>
        </div>
      </div>

    </br>
    </br>
    <h4 style="text-align: center">Your details</h4>

      <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">First Name:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="firsName"
          name="firstName"
          placeholder="First Name" 
          ng-model="newFIR.FIRForm.firstName" 
          required>
          <div class="form-error" ng-messages="FIRForm.firstName.$error" ng-if="FIRForm.firstName.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">First name is required</div>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">Last Name:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="lastName"
          name="lastName" 
          placeholder="Last Name"
          ng-model="newFIR.FIRForm.lastName"
          required>
          <div class="form-error" ng-messages="FIRForm.lastName.$error" ng-if="FIRForm.lastName.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">last name is required</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Gender</label>
        <div class="col-sm-9">
          <select class="form-control" id="gender" name="gender" ng-model="newFIR.FIRForm.gender" required>
            <option value="" selected>SELECT GENDER</option>
            <option>MALE</option>
            <option>FEMALE</option>
          </select>
          <div class="form-error" ng-messages="FIRForm.gender.$error" ng-if="FIRForm.gender.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">Gender is required</div>
          </div>
        </div>
      </div>
                
      <div class="form-group">
        <label class="control-label col-sm-2" for="address">Address:</label>
        <div class="col-sm-9"> 
          <textarea class="form-control" 
          rows="5" 
          id="address"
          name="address"
          placeholder="Address"
          ng-model="newFIR.FIRForm.address"
          required></textarea>
          <div class="form-error" ng-messages="FIRForm.address.$error" ng-if="FIRForm.address.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">Address is required</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="mobile">Mobile Number:</label>
        <div class="col-sm-9"> 
          <input type="text" class="form-control" 
          id="mobile"
          name="mobile" 
          placeholder="Mobile Number"
          ng-minlength="10" 
          ng-maxlength="10"
          ng-pattern="/^[7-9][0-9]{9}$/"
          ng-model="newFIR.FIRForm.mobile"
          required>
          <div class="form-error" ng-messages="FIRForm.mobile.$error" ng-if="FIRForm.mobile.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">Mobile number is required</div>
            <p ng-message="pattern">Phone number is invalid.</p>
            <div ng-message="maxlength">Mobile number should be 10 digits</div>
            <div ng-message="minlength">Mobile number should be 10 digits</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-sm-2" for="aadhaar">Aadhaar Number:</label>
        <div class="col-sm-9"> 
          <input type="number" class="form-control" 
          id="aadhaar"
          name="aadhaar" 
          placeholder="Aadhaar Number"
          ng-minlength="12" 
          ng-maxlength="12"
          ng-pattern="/^[1][0-9]{11}$/"
          ng-model="newFIR.FIRForm.aadhaar"
          required>
          <div class="form-error" ng-messages="FIRForm.aadhaar.$error" ng-if="FIRForm.aadhaar.$dirty || 
          FIRForm.$submitted">
            <div ng-message="required">Aadhaar number is required</div>
            <p ng-message="pattern">Aadhaar number is invalid.</p>
            <div ng-message="maxlength">Aadhaar number should be 12 digits</div>
            <div ng-message="minlength">Aadhaar number should be 12 digits</div>
          </div>
        </div>
      </div>
    </br>
  </br>
     
      
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>