<div  id="wrapper" class="container">
    <div class="table table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="text-align: center"><h3>DETAINED PERSONS</h3></th>
                </tr>
              </thead>
            </table>
<section class="main-content">
    <div class="row" >
        <div class="col-xs-3" ng-repeat="person in detainees.allDetainees">
            <a href="" ng-click="detainees.goToDetails(person)">
            <div>					
                        <img  ng-src="{{person.imageUrl}}" height="200" width="200"  >
                        <div class="caption">
                          <a><h5>{{person.name}}</h5></a>
                        </div>
                      </br>
            </div>
        </a>
    </div>
    </div>
</section>
</div>
</div>