<div  class="container">
</br>
</br>

<br>
<br>

<div>
    <h4 style="text-align:center">COMPLAINT DETAILS</h4>
    <div class="table table-responsive">
    <table class="table">
  
      <tbody>
        <tr>
          <th>SUBJECT</th>
          <td>{{adminComplaint.complaintDetails.subject}}</td>
        </tr>

        <tr>
          <th>COMPLAINANT</th>
          <td>
            <ul>
              <li><strong>First name: </strong>{{adminComplaint.complaintDetails.firstName}}</li>
              <li><strong>Last  name: </strong>{{adminComplaint.complaintDetails.lastName}}</li>
              <li><strong>Gender: </strong> {{adminComplaint.complaintDetails.gender}}</li>
              <li><strong>Date of birth: </strong>{{adminComplaint.complaintDetails.dob}}</li>
              <li><strong>Address: </strong>{{adminComplaint.complaintDetails.address}}</li>
              <li><strong>Mobile number:</strong>{{adminComplaint.complaintDetails.mobile}}</li>
              <li><strong>Aadhaar number: </strong>{{adminComplaint.complaintDetails.aadhaar}}</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>DATE OF OCCURRENCE</th>
          <td>{{adminComplaint.complaintDetails.date}}</td>
        </tr>

        <tr>
          <th>PLACE OF OCCURRENCE</th>
          <td>
            <ul>
              <li>District: {{adminComplaint.complaintDetails.state}}</li>
              <li>Place: {{adminComplaint.complaintDetails.place}}</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>DESCRIPTION</th>
          <td>{{adminComplaint.complaintDetails.description}}</td>
        </tr>

        <tr>
          <th>STATUS</th>
          <td>{{adminComplaint.complaintDetails.status}}</td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <a ui-sref="adminPanel">
        <button type="button" class="btn btn-primary">Back</button>
    </a>
    <a >
        <button type="button" class="btn btn-info pull-right" ng-click="adminComplaint.forwardComplaint()" >Forward complaint</button>
    </a>


</div>
<br>
<br>
<br>
<br>
<br>
<br>

  

