<div class="container">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th style="text-align:center">DETAILS</th>
        </tr>
      </thead>
       <tbody>
          <tr>
            <td rowspan="9"><img  ng-src="{{details.personDetails.imageUrl}}" height="200" width="200"  ></td>
          </tr>
          <tr>
              <td><strong>Name: </strong> </td>
              <td>{{details.personDetails.Name}}</td>
          </tr>
          <tr>
                <td><strong>Date of birth: </strong> </td>
                <td>{{details.personDetails.DOB}}</td>
            </tr>
            <tr>
                <td><strong>Nationality: </strong></td>
                <td>{{details.personDetails.Nationality}}</td>
            </tr>
            <tr>
              <td><strong>Marital status: </strong></td>
              <td>{{details.personDetails.Marital}}</td>
          </tr>
            <tr>
              <td><strong>crime number: </strong></td>
              <td>{{details.personDetails.crimeNo}}</td>
          </tr>
           
            <tr>
              <td><strong>Section of law: </strong></td>
              <td>{{details.personDetails.sectionOfLaw}}</td>
          </tr>
          <tr>
            <td><strong>Police station: </strong></td>
            <td>{{details.personDetails.policeStation}}</td>
        </tr>
        <tr>
          <td><strong>Unit: </strong></td>
          <td>{{details.personDetails.Unit}}</td>
      </tr>

       </tbody>
     </table>
     <a ui-sref="wanted">
     <button type="button" class="btn btn-primary">Back</button>
     </a>
   </div>
</div>
    
    
    
    
