<div class="container">
  <div class="table table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th style="text-align: center"><h3>COMPLAINT REGISTRATION FORM</h3></th>
        </tr>
      </thead>
    </table>
  </div>
  <p>
    <h4>Points to remember</h4>
    <strong>You can use this form to register your complaints.</strong></br>
    <strong>All fields are Mandatory</strong></br>
    <strong style="color:red">False complaints are subject to prosecution under IPC.</strong></br>
  </p>
  <div class="table table-bordered">
  </br>
  <form class="form-horizontal" ng-submit="complaintForm.$valid && newComplaint.submitForm()" name="complaintForm" novalidate>
    <div class="form-group">
      <label class="control-label col-sm-2" for="district">District</label>
      <div class="col-sm-9">
        <select class="form-control" id="district" name="district" ng-model="newComplaint.complaintForm.state" required>
          <option value="" selected>SELECT DISTRICT</option>
          <option>ANANTAPUR</option>
          <option>CHITTOOR</option>
          <option>EAST GODAVARI</option>
          <option>GUNTUR</option>
          <option>YSR KADAPA</option>
          <option>KRISHNA</option>
          <option>KURNOOL</option>
          <option>NELLORE</option>
          <option>PRAKASAM</option>
          <option>SRIKAKULAM</option>
          <option>VISAKHAPATNAM</option>
          <option>VIZIANAGARAM</option>
          <option>WEST GODAVARI</option>   
        </select>
        <div class="form-error" ng-messages="complaintForm.district.$error" ng-if="complaintForm.district.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">District is required</div>
        </div>
       </div>  
    </div>
         
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstName">First Name:</label>
      <div class="col-sm-9"> 
        <input type="text" class="form-control" 
        id="firsName"
        name="firstName"
        placeholder="First Name" 
        ng-model="newComplaint.complaintForm.firstName" 
        required>
        <div class="form-error" ng-messages="complaintForm.firstName.$error" ng-if="complaintForm.firstName.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">First name is required</div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">Last Name:</label>
      <div class="col-sm-9"> 
        <input type="text" class="form-control" 
        id="lastName"
        name="lastName" 
        placeholder="Last Name"
        ng-model="newComplaint.complaintForm.lastName"
        required>
        <div class="form-error" ng-messages="complaintForm.lastName.$error" ng-if="complaintForm.lastName.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">last name is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="gender">Gender</label>
      <div class="col-sm-9">
        <select class="form-control" id="gender" name="gender" ng-model="newComplaint.complaintForm.gender" required>
          <option value="" selected>SELECT GENDER</option>
          <option>MALE</option>
          <option>FEMALE</option>
        </select>
        <div class="form-error" ng-messages="complaintForm.gender.$error" ng-if="complaintForm.gender.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Gender is required</div>
        </div>
      </div>
    </div>
              
    <div class="form-group">
      <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" 
        id="dob"
        name="dob" 
        placeholder="Date of birth" 
        ng-model="newComplaint.complaintForm.dob"
        required>
        <div class="form-error" ng-messages="complaintForm.dob.$error" ng-if="complaintForm.dob.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Date of birth is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-9"> 
        <textarea class="form-control" 
        rows="5" 
        id="address"
        name="address"
        placeholder="Address"
        ng-model="newComplaint.complaintForm.address"
        required></textarea>
        <div class="form-error" ng-messages="complaintForm.address.$error" ng-if="complaintForm.address.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Address is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Mobile Number:</label>
      <div class="col-sm-9"> 
        <input type="tel" class="form-control" 
        id="mobile"
        name="mobile" 
        placeholder="Mobile Number"
        ng-minlength="10" 
        ng-maxlength="10"
        ng-pattern="/^[7-9][0-9]{9}$/"
        ng-model="newComplaint.complaintForm.mobile"
        required>
        <div class="form-error" ng-messages="complaintForm.mobile.$error" ng-if="complaintForm.mobile.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Mobile number is required</div>
          <p ng-message="pattern">Phone number is invalid.</p>
          <div ng-message="maxlength">Mobile number should be 10 digits</div>
          <div ng-message="minlength">Mobile number should be 10 digits</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="aadhaar">Aadhaar Number:</label>
      <div class="col-sm-9"> 
        <input type="text" class="form-control" 
        id="aadhaar"
        name="aadhaar" 
        placeholder="Aadhaar Number"
        ng-minlength="12" 
        ng-maxlength="12"
        ng-pattern="/^[1][0-9]{11}$/"
        ng-model="newComplaint.complaintForm.aadhaar"
        required>
        <div class="form-error" ng-messages="complaintForm.aadhaar.$error" ng-if="complaintForm.aadhaar.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Aadhaar number is required</div>
          <p ng-message="pattern">Aadhaar number is invalid.</p>
          <div ng-message="maxlength">Aadhaar number should be 12 digits</div>
          <div ng-message="minlength">Aadhaar number should be 12 digits</div>
        </div>
      </div>
    </div>
  </br>
</br>
    <h4 style="text-align: center">Details of Complaint</h4>
    <div class="form-group">
      <label class="control-label col-sm-2" for="subject">Subject</label>
      <div class="col-sm-9">
        <select class="form-control" id="subject" name="subject" ng-model="newComplaint.complaintForm.subject" required>
          <option value="" selected>SELECT SUBJECT</option>
          <option>CHARGING EXORBITANT INTEREST</option>
          <option>CRIMINAL INTIMIDATION</option>
          <option>CRIMINAL TRESPASS</option>
          <option>DOCUMENT MISSING</option>
          <option>EVE TEASING</option>
          <option>EXTORTIION</option>
          <option>INCITEMENT</option>
          <option>JUVENILE DELIQUENCY</option>
          <option>MISCHIEF</option>
          <option>MISSING PERSON</option>
          <option>MOBILE MISSING</option>
          <option>NON BANKING FINANCIAL INSTITUTIONS</option>
          <option>NUISANCE</option>
          <option>OFFENCES AGAINST RELIGION AND PUBLIC WORSHIP</option>
          <option>OFFENCES RELATING TO MARRIAGE</option>
          <option>POLITICAL OFFENCE</option>
          <option>QUARRELS/ALTERCATIONS</option>
          <option>VEHICLE MISSING</option>          
        </select>
        <div class="form-error" ng-messages="complaintForm.subject.$error" ng-if="complaintForm.subject.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Subject is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="date">Date of Occurrence:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" 
        id="date"
        name="date"
        placeholder="Date of occurrence" 
        ng-model="newComplaint.complaintForm.date"
        required>
        <div class="form-error" ng-messages="complaintForm.date.$error" ng-if="complaintForm.date.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Date is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="place">Place of Occurrence:</label>
      <div class="col-sm-9"> 
        <textarea class="form-control" 
        rows="5" 
        id="place"
        name="place"
        placeholder="Place of occurrence"
        ng-model="newComplaint.complaintForm.place"
        required></textarea>
        <div class="form-error" ng-messages="complaintForm.place.$error" ng-if="complaintForm.place.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Place is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-9"> 
        <textarea class="form-control" 
        rows="5" 
        id="description"
        name="description"
        placeholder="Description"
        ng-model="newComplaint.complaintForm.description"
        required></textarea>
        <div class="form-error" ng-messages="complaintForm.description.$error" ng-if="complaintForm.description.$dirty || 
        complaintForm.$submitted">
          <div ng-message="required">Description is required</div>
        </div>
      </div>
    </div> 
    
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
  </div>
</div>