<div class="row">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<h2 class="text-center">Administrator Login</h2>
<br/>

</div>
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-6 col-md-offset-3">
        <form novalidate name="signInForm" ng-submit='signInForm.$valid && login.signIn()'>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" type="email" ng-model="login.email" name='email' placeholder="email" required/> 
            <div class="form-error" ng-messages="signInForm.email.$error" ng-if="signInForm.email.$dirty || 
            signInForm.$submitted">
            <div ng-message='required'> The Email field is required </div>
            <div ng-message='email'> The Email entered is not a valid email </div>
          </div>

          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password"  ng-model="login.password" name='password' placeholder="password" required/> 
            <div class="form-error" ng-messages="signInForm.password.$error" ng-if="signInForm.password.$dirty || 
            signInForm.$submitted">
            <div ng-message='required'> The Password field is required </div>
          </div>   
          </div>
         
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-block" >Login</button>
          </div>
          
        </form>        
      </div>  
    </div>    
  </div>
</div>