<div  class="container">
</br>
</br>

<div >
    <h4 style="text-align:center">FIR DETAILS</h4>
    <div class="table table-responsive">
    <table class="table">
    
      <tbody>
        <tr>
          <th>SUBJECT</th>
          <td>{{adminFir.firDetails.subject}}</td>
        </tr>
        <tr>
          <th>LOGGED BY</th>
          <td>
            <ul>
              <li><strong>Frist name: </strong>{{adminFir.firDetails.firstName}}</li>
              <li><strong>Last name: </strong>{{adminFir.firDetails.lastName}}</li>
              <li><strong>Gender: </strong>{{adminFir.firDetails.gender}}</li>
              <li><strong>Address: </strong>{{adminFir.firDetails.address}}</li>
              <li><strong>Mobile number: </strong>{{adminFir.firDetails.mobile}}</li>
              <li><strong>Aadhaar number: </strong>{{adminFir.firDetails.aadhaar}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>LOGGED AT</th>
          <td>
            <li><strong>District: </strong>{{adminFir.firDetails.state}}</li>
            <li><strong>Police Station: </strong>{{adminFir.firDetails.policeStation}}</li>
          </td>
        </tr>
        <tr>
          <th>OCCURRENCE</th>
          <td>
            <li><strong>Date: </strong>{{adminFir.firDetails.doo}}</li>
            <li><strong>Place: </strong>{{adminFir.firDetails.place}}</li>
          </td>
        </tr>
        <tr>
          <th>REPORTING DATE</th>
          <td>
            <ul>
              <li>{{adminFir.firDetails.dor}}</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>DESCRIPTION</th>
          <td>{{adminFir.firDetails.description}}</td>
        </tr>
        <tr>
          <th>STATUS</th>
          <td>{{adminFir.firDetails.status}}</td>
        </tr>
      </tbody>
    </table>

    </div>
    </div>
    <a ui-sref="adminPanel">
        <button type="button" class="btn btn-primary">Back</button>
    </a>
    <a >
        <button type="button" class="btn btn-info pull-right" ng-click="adminFir.forwardFIR()" >Forward FIR</button>
    </a>

</div>

  

