<div class="jumbotron vertical-center">
        <div class="container">
            <h4 style="color:green"><span class="glyphicon glyphicon-thumbs-up"></span> THE CRIME  REPORT HAS BEEN RECEIVED</h4>
            <h4 style="color:green"><span class="glyphicon glyphicon-thumbs-up"></span> Thank you for informing us...</h4>
        </div>
    </div>